<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QuanLyMuaBanLinhKien.Properties.Settings.QLBHConnectionString"
      connectionString="Data Source=DESKTOP-O5UGA65\SQLEXPRESS;Initial Catalog=QLBH;Persist Security Info=True;User ID=sa;Password=sapassword"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <probing privatePath="lib"/>
      </assemblyBinding>
   </runtime>
</configuration>